body{
    margin: auto 0;
}
.bar{
    background-color: greenyellow;
    display: flex;
    list-style: none;
    padding: 20px;
}
@media only screen and (max-width: 600px){
    .bar{
        font-size: 14px;
        padding: 0;
    }
}
@media only screen and (max-width: 300px){
    .bar{
        font-size: 10px;
        padding: 0;
    }
}
a{
    text-decoration: none;
    padding: 20px;
    margin: 10px;
    color: black;
}
.navright{
    margin-left: auto;
}

/*----main cover----*/
.container .main{
    font-size: 300%;
    margin: 0;
    background-color: rgb(197, 48, 48);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}
/*box*/
.wrapper {
    background-color: rgb(101, 167, 230);
display: grid;
grid-gap: 20px;
grid-template-columns: repeat(auto-fill, minmax(350px,1fr))
}
.box > img{
    width: 100%;
    
   
}

.box{
    background-color: rgb(102, 99, 99);
    margin: 20px;
    padding: 120px;
    
    
}
/* FOOTER*/
footer{
    display: grid;
    grid-column: 1/-1;
    justify-content: center;
    background-color: rgb(148, 126, 84);
   
}
