body{
    margin: auto 0;
}
.bar{
    background-color:rgb(101, 167, 230);
    color: white;
    display: flex;
    list-style: none;
    padding: 20px;
}
.sticky{
    position: sticky;
    top: 0%;
    width: 100%;
    box-shadow: 3px 3px 5px 6px #ccc;
}
@media only screen and (max-width: 600px){
    .bar{
        font-size: 14px;
        padding: 0;
    }
}
@media only screen and (max-width: 300px){
    .bar{
        font-size: 10px;
        padding: 0;
    }
}
a{
    text-decoration: none;
    padding: 20px;
    margin: 10px;
    color: black;
}
li a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.navright{
    margin-left: auto;
}

/*----main cover----*/
.container .main{
margin: 0;
display: flex;
align-items: center;
justify-content: center;
height: 50vh;
}
.container .image{
    width: 30rem;
}
/*box*/
.wrapper {
    background-color: rgb(101, 167, 230);
display: grid;
grid-gap: 20px;
grid-template-columns: repeat(auto-fill, minmax(350px,1fr))
}
/* .box (parent) ">" it directly point to its next child*/
.box > img{
    width: 100%;
    
   
}

.box{
    background-color: rgb(102, 99, 99);
    margin: 20px;
    padding: 120px;
}
.box:hover{
    transform: rotate(7deg);
    cursor: pointer;
}
/* FOOTER*/
footer{
    background: rgb(39, 38, 38);
    color: white;
   text-align: center;
   border: 1px solid rgb(101, 167, 230);
}
